@import "stylesheets/variables";
.app{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.main{
  //border-radius: .2rem;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}


.photo{
  width: 10rem;
  height: 10rem;
  border-radius: 50% 50%;
  background-color: indianred;
  z-index: 1;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  box-shadow: 0 0 0 5px  $gray-800;
}
.photo__img{
  width: 100%;
  height: 100%;
}
